{% extends 'base.html.twig' %}

{% block title %}Hello TransactionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for accountId, accountTransactions in transactions %}
        <h2>Transactions pour le compte {{ accountId }}</h2>
        <table>
            <thead>
            <tr>
                <th>Détail</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Origine</th>
                <th>Destination</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in accountTransactions %}
                <tr>
                    <td>{{ transaction.getDescription() }}</td>
                    <td>{{ transaction.getMontant() }} €</td>
                    <td>{{ transaction.getTransactionDate()|date('d/m/Y H:i:s') }}</td>
                    <td>{{ transaction.getCompteOrigine() }}</td>
                    <td>{{ transaction.getCompteDestination() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endfor %}

    <a class="btn" href="{{ path("app_transaction_add") }}">Faire un virement</a>
    <a class="btn" href="{{ path("app_account") }}">Retour à la liste des comptes</a>
</div>
{% endblock %}
